html{
    scroll-behavior: smooth;
  }
  * {
    box-sizing: border-box;
  }

  .portfolio-card{
    box-shadow: 0px 2px 5px #888888;
    background: #eee;
    border-radius: 4px;

}

.portfolio-card:hover{
    box-shadow: 0px 10px 10px #888888;
  cursor: pointer
}

.portfolio-container-holder{
    background: #eee;
    padding-bottom: 20px;
}


.portfolio-card-holder{
    padding: 5px;
    margin-bottom: 5px;
}

.portfolio-img{
    width: 100%;
    border-radius: 4px 4px 0 0;
}

.portfolio-img-desc{
    position: relative;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background: #fff;
    color: #000;
    text-align: center;
    padding: 5px;
}

.portfolio-card img {
    height: 100%;
}

.bcg {
}

a {
    color: rgb(7, 5, 109);
    text-decoration: none;
}
a:hover {
    color: rgb(10, 7, 180);
    cursor: pointer;
    text-decoration: none;

}
a:visited {
    color: rgb(7, 5, 109);
    text-decoration: none;

}